openai
streamlit
langchain
langchain-openai
langchain-community
python-dotenv
speechrecognition
pyttsx3
streamlit-webrtc
streamlit-authenticator
requests
pyautogui
opencv-python
pillow
geopy
python-weather